.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Establishes width and height of app grid container for easy vertical and horizontal alignment */
#app-container {
  height: 100vh;
  width: 100%;
}

#work-container {
  height: 27vh;
  width: 100%;
}

.form-spacer {
  height: 3vh;
}

.work-task-btn-spacer {
  height: 10vh;
}

.button-spacer {
  height: 13vh;
}

.container-table {
  border: solid 1px darkgrey;
  height: 41.3vh;
  overflow-y: scroll;  /* or auto */
}
